.background {
  background-color: rgb(157 157 157 / 10%);
}

.accueil_page {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.caroussel_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.caroussel {
  width: 350px;
  height: auto;
  overflow: hidden;
}

.contenu_caroussel {
  display: flex;
  animation-duration: 15s;
  animation-name: images;
  animation-iteration-count: infinite;
}

.image_caroussel > img {
  width: 350px;
  height: 100%;
}

@keyframes images {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-350px);
  }
  35% {
    transform: translateX(-350px);
  }
  50% {
    transform: translateX(-700px);
  }
  60% {
    transform: translateX(-700px);
  }
  75% {
    transform: translateX(-1050px);
  }
  85% {
    transform: translateX(-1050px);
  }
  100% {
    transform: translateX(0);
  }
}

.winamax {
  width: 100%;
}

@media all and (min-width: 768px) {
  .caroussel_bloc {
    height: 600px;
  }

  .caroussel {
    width: 700px;
    height: 350px;
  }
  
  .image_caroussel > img {
    width: 700px;
    height: 350px;
  }

  @keyframes images {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-700px);
    }
    35% {
      transform: translateX(-700px);
    }
    50% {
      transform: translateX(-1400px);
    }
    60% {
      transform: translateX(-1400px);
    }
    75% {
      transform: translateX(-2100px);
    }
    85% {
      transform: translateX(-2100px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media all and (min-width: 1440px) {
  .caroussel_bloc {
    height: 800px;
  }

  .caroussel {
    width: 1200px;
    height: 500px;
  }
  
  .image_caroussel > img {
    width: 1200px;
    height: 500px;
  }

  @keyframes images {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-1200px);
    }
    35% {
      transform: translateX(-1200px);
    }
    50% {
      transform: translateX(-2400px);
    }
    60% {
      transform: translateX(-2400px);
    }
    75% {
      transform: translateX(-3600px);
    }
    85% {
      transform: translateX(-3600px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
